<!DOCTYPE html>

<html lang="en">
    <head>
        <title>bos van bompapa</title>
        <link rel="stylesheet" href="../static/styles.css">
        <script src="../static/js.js"></script>
    </head>
    <body>
        <h1>Wijle nog eens weg: Bos van Bompapa</h1>
        <h4>* 't is te zeggen, tenminste op de rand van het bos, of er net naast, denk ik, of in elk geval toch in de buurt</h4>
        <p>On popular request, hieronder de kiekjes</p>
        <hr>
        <div class="row">
            <div class="column">
                <a href="./indv/000.html"><img src="../static/kiekjes/000.jpg" style="width:100%"></a>
            </div>
            <div class="column">
                <a href="./indv/001.html"><img src="../static/kiekjes/001.jpg" style="width:100%"></a>
            </div>
            <div class="column">
                <a href="./indv/002.html"><img src="../static/kiekjes/002.jpg" style="width:100%"></a>
            </div>
            <div class="column">
                <a href="./indv/003.html"><img src="../static/kiekjes/003.jpg" style="width:100%"></a>
            </div>
            <div class="column">
                <a href="./indv/004.html"><img src="../static/kiekjes/004.jpg" style="width:100%"></a>
            </div>
            <div class="column">
                <a href="./indv/005.html"><img src="../static/kiekjes/005.jpg" style="width:100%"></a>
            </div>
            <div class="column">
                <a href="./indv/006.html"><img src="../static/kiekjes/006.jpg" style="width:100%"></a>
            </div>
            <div class="column">
                <a href="./indv/007.html"><img src="../static/kiekjes/007.jpg" style="width:100%"></a>
            </div>
            <div class="column">
                <a href="./indv/008.html"><img src="../static/kiekjes/008.jpg" style="width:200%"></a>
            </div>
            <div class="column">
                <a href="./indv/009.html"><img src="../static/kiekjes/009.jpg" style="width:200%"></a>
            </div>
            <div class="column">
                <a href="./indv/010.html"><img src="../static/kiekjes/010.jpg" style="width:100%"></a>
            </div>
            <div class="column">
                <a href="./indv/011.html"><img src="../static/kiekjes/011.jpg" style="width:100%"></a>
            </div>
            <div class="column">
                <a href="./indv/012.html"><img src="../static/kiekjes/012.jpg" style="width:100%"></a>
            </div>
            <div class="column">
                <a href="./indv/013.html"><img src="../static/kiekjes/013.jpg" style="width:200%"></a>
            </div>
            <div class="column">
                <a href="./indv/014.html"><img src="../static/kiekjes/014.jpg" style="width:200%"></a>
            </div>
            <div class="column">
                <a href="./indv/015.html"><img src="../static/kiekjes/015.jpg" style="width:100%"></a>
            </div>
            <div class="column">
                <a href="./indv/016.html"><img src="../static/kiekjes/016.jpg" style="width:100%"></a>
            </div>
            <div class="column">
                <a href="./indv/017.html"><img src="../static/kiekjes/017.jpg" style="width:100%"></a>
            </div>
          </div>
        <hr>
        <table style="width : 100%;"><th>&nbsp&nbsp</th><th style="text-align : left;">START</th><th style="text-align : right;">FINISH</th><th>&nbsp&nbsp</th></table>
        <p></p><div id="bikeWJ"><image src="../static/wz.png"></div><div id="bikeIDRIS"><image src="../static/ttdw.png"></div></p>
    </body>
</html>